@model ContactVM
@inject UserManager<AppUser> _userManager;

@{
    ViewBag.Title = "Contact Us";

    AppUser user = _userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
}

@section CSS {
    <link rel="stylesheet" href="~/assets/scss/contact/contact.css">
}

@section NavBar {
    <ul class="navbar">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
        <li><a href="#" class="active">Contact</a></li>
        <li><a asp-controller="About" asp-action="Index">About</a></li>
    </ul>
}

<section id="contact-bg">
    <img src="~/assets/img/static-images/@Model.SectionHeaders["ContactBG"]">

    <h1 class="title">Contact Us</h1>
</section>

<section id="devide">
    <div class="container">
        <section id="social">
            <h1 class="title">@Model.SectionHeaders["Social"]</h1>

            <div class="items">
                @foreach (var social in Model.Socials)
                {
                    <a href="@social.Link" class="item" style="background-color: @social.Color;">
                        @Html.Raw(social.Icon)
                    </a>
                }
            </div>
        </section>

        <section id="form">
            @if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-controller="Contact" asp-action="Index">
                    <input asp-for="Contact.FullName" readonly value="@user.FullName">

                    <input class="email-input" asp-for="Contact.Email" readonly value="@user.Email">

                    <textarea asp-for="Contact.Message" rows="7" placeholder="Message *"></textarea>
                    <span asp-validation-for="@Model.Contact.Message" style="color: red; display: block;"></span>

                    <button type="submit" class="btn-shine">Submit</button>
                </form>
            }

            else
            {
                <form method="post" asp-controller="Contact" asp-action="Index">
                    <input asp-for="Contact.FullName" autocomplete="off" placeholder="Full Name *">
                    <span asp-validation-for="Contact.FullName" style="color: red;"></span>

                    <input class="email-input" asp-for="Contact.Email" autocomplete="off" placeholder="Email *">
                    <span asp-validation-for="Contact.Email" style="color: red;"></span>

                    <textarea asp-for="Contact.Message" rows="7" placeholder="Message *"></textarea>
                    <span asp-validation-for="Contact.Message" style="color: red; display: block;"></span>

                    <button type="submit" class="btn-shine">Submit</button>
                </form>
            }
        </section>
    </div>
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/contact.js"></script>
    <partial name="_ValidationScriptsPartial" />
}